*{
  margin:0;
}
.app{
  background-color:#fafafa;
}


.app__posts{
  padding: 1rem;
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  display: flex;
  justify-content: center;
}

 .app__postright{
 margin-left: 20px;
 grid-row: 1/2;
 min-width: 5%;
} 
.app__postleft{
grid-row: 1 / 2;
}

.app__header  {
  position: sticky;
  top: 0%;
  z-index: 1;
  background-color:white;
  padding: 1%;
  border-bottom:1px solid lightgrey;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__headerImage{
  object-fit: contain;
}
.app__signup{
  display: flex;
  flex-direction: column;
}

