.post{
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgrey;
    margin-bottom: 2.1%;
}

.post__image{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
.post__text{
    font-weight: normal;
    padding: 1%;
}
.post__header{
    display: flex;
    align-items: center;
    padding: 1%;
}
.post__avatar{
    margin-right: 1%;
}
.post__commentBox{
    display: flex;
    margin-top: 10px;
}

.post__comments{
    padding: 1rem;
}

.post__input{
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgrey;
}
.post__button{
    flex: 0;
    border: none;
    color: #0095F6;
    background-color: transparent;
    border-top: 2px solid lightgrey;
}